@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* לא לאפשר גלילה אופקית */
}

h2 {
  font-size: 2.5rem; /* גודל טקסט עבור מסכים גדולים */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  animation: typing 4s steps(40) 1s forwards, delete 4s steps(40) 6s forwards;
}

/* אנימציה של כתיבה */
@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* אנימציה של מחיקה */
@keyframes delete {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}

/* Media Queries עבור רספונסיביות */
@media (max-width: 768px) {
  h2 {
    font-size: 1.8rem; /* גודל טקסט קטן יותר למסכים קטנים */
    animation-duration: 3s; /* זמן האנימציה יותר קצר עבור מסכים קטנים */
  }
}

@media (max-width: 480px) {
  h2 {
    font-size: 1.5rem; /* עוד יותר קטן עבור מכשירים עם מסך קטן */
    animation-duration: 2s; /* קיצור האנימציה */
  }
}
